# Importer les data

In [49]:
#Importer les données
!curl https://topcs.blob.core.windows.net/public/FlightData.csv -o flightdata.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1552k  100 1552k    0     0  3276k      0 --:--:-- --:--:-- --:--:-- 3276k

In [50]:
#introduire les données dans un DataFrame Pandas
import pandas as pd
df= pd.read_csv('flightdata.csv')
df.head(5)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
0,2016,1,1,1,5,DL,N836DN,1399,10397,ATL,...,2143,2102.0,-41.0,0.0,0.0,0.0,338.0,295.0,2182.0,NaN
1,2016,1,1,1,5,DL,N964DN,1476,11433,DTW,...,1435,1439.0,4.0,0.0,0.0,0.0,110.0,115.0,528.0,NaN
2,2016,1,1,1,5,DL,N813DN,1597,10397,ATL,...,1215,1142.0,-33.0,0.0,0.0,0.0,335.0,300.0,2182.0,NaN
3,2016,1,1,1,5,DL,N587NW,1768,14747,SEA,...,1335,1345.0,10.0,0.0,0.0,0.0,196.0,205.0,1399.0,NaN
4,2016,1,1,1,5,DL,N836DN,1823,14747,SEA,...,607,615.0,8.0,0.0,0.0,0.0,247.0,259.0,1927.0,NaN

In [51]:
df.shape #donne les dimensions du df

(11231, 26)

In [52]:
df.isnull().values.any() #vérifie si le df contient des valeurs nulls

True

In [53]:
df.isnull().sum()  #permet de localiser les valeurs nuls

YEAR                       0
QUARTER                    0
MONTH                      0
DAY_OF_MONTH               0
DAY_OF_WEEK                0
UNIQUE_CARRIER             0
TAIL_NUM                   0
FL_NUM                     0
ORIGIN_AIRPORT_ID          0
ORIGIN                     0
DEST_AIRPORT_ID            0
DEST                       0
CRS_DEP_TIME               0
DEP_TIME                 107
DEP_DELAY                107
DEP_DEL15                107
CRS_ARR_TIME               0
ARR_TIME                 115
ARR_DELAY                188
ARR_DEL15                188
CANCELLED                  0
DIVERTED                   0
CRS_ELAPSED_TIME           0
ACTUAL_ELAPSED_TIME      188
DISTANCE                   0
Unnamed: 25            11231
dtype: int64

# Nettoyer les data

In [54]:
df=df.drop('Unnamed: 25',axis=1) #supprimer les colonne 
df.isnull().sum()

YEAR                     0
QUARTER                  0
MONTH                    0
DAY_OF_MONTH             0
DAY_OF_WEEK              0
UNIQUE_CARRIER           0
TAIL_NUM                 0
FL_NUM                   0
ORIGIN_AIRPORT_ID        0
ORIGIN                   0
DEST_AIRPORT_ID          0
DEST                     0
CRS_DEP_TIME             0
DEP_TIME               107
DEP_DELAY              107
DEP_DEL15              107
CRS_ARR_TIME             0
ARR_TIME               115
ARR_DELAY              188
ARR_DEL15              188
CANCELLED                0
DIVERTED                 0
CRS_ELAPSED_TIME         0
ACTUAL_ELAPSED_TIME    188
DISTANCE                 0
dtype: int64

In [55]:
df = df[["MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "ORIGIN", "DEST", "CRS_DEP_TIME", "ARR_DEL15"]] #restructuer mon df aka supprimer toutes les colonnes à part celles citées
df.isnull().sum()

MONTH             0
DAY_OF_MONTH      0
DAY_OF_WEEK       0
ORIGIN            0
DEST              0
CRS_DEP_TIME      0
ARR_DEL15       188
dtype: int64

In [56]:
df[df.isnull().values.any(axis=1)].head #montrer les lignes contenant des cellules vides

<bound method NDFrame.head of        MONTH  DAY_OF_MONTH  DAY_OF_WEEK ORIGIN DEST  CRS_DEP_TIME  ARR_DEL15
177        1             9            6    MSP  SEA           701        NaN
179        1            10            7    MSP  DTW          1348        NaN
184        1            10            7    MSP  DTW           625        NaN
210        1            10            7    DTW  MSP          1200        NaN
478        1            22            5    SEA  JFK          2305        NaN
481        1            22            5    ATL  JFK          1745        NaN
491        1            22            5    MSP  JFK          1755        NaN
499        1            23            6    JFK  ATL          1325        NaN
500        1            23            6    JFK  ATL          1540        NaN
501        1            23            6    JFK  SEA           740        NaN
502        1            23            6    JFK  ATL           610        NaN
503        1            23            6    JFK  ATL           805        NaN
504        1            23            6    JFK  ATL          1715        NaN
505        1            23            6    JFK  SEA          1825        NaN
506        1            23            6    ATL  JFK          1205        NaN
507        1            23            6    JFK  SEA          1615        NaN
511        1            23            6    ATL  JFK          1515        NaN
517        1            23            6    SEA  JFK          1150        NaN
518        1            23            6    SEA  JFK          2250        NaN
521        1            23            6    ATL  JFK          1745        NaN
523        1            23            6    JFK  ATL          1930        NaN
526        1            23            6    ATL  JFK           810        NaN
529        1            24            7    ATL  JFK           810        NaN
541        1            22            5    ATL  JFK          2050        NaN
545        1            22            5    DTW  JFK          2000        NaN
553        1            23            6    SEA  JFK           700        NaN
556        1            23            6    JFK  DTW          1900        NaN
559        1            24            7    JFK  ATL          1715        NaN
560        1            24            7    JFK  MSP          1129        NaN
561        1            24            7    JFK  ATL           820        NaN
...      ...           ...          ...    ...  ...           ...        ...
6823       8            11            4    ATL  DTW           710        NaN
6863       8            14            7    ATL  JFK          2115        NaN
6913       8            14            7    SEA  JFK          1320        NaN
6942       8            14            7    JFK  ATL          1744        NaN
6966       8            14            7    JFK  MSP          1445        NaN
6975       8            15            1    MSP  JFK          1010        NaN
7112       8            21            7    DTW  SEA          1155        NaN
7165       8            21            7    ATL  SEA          1414        NaN
7539       9             1            4    ATL  JFK          1515        NaN
7540       9             1            4    JFK  ATL          1520        NaN
7550       9             1            4    SEA  ATL          1215        NaN
8056       9            18            7    JFK  ATL          1720        NaN
8123       9            21            3    JFK  MSP          1840        NaN
8127       9            21            3    JFK  MSP          1555        NaN
8136       9            21            3    ATL  MSP          1945        NaN
8139       9            21            3    DTW  MSP          1958        NaN
8233       9            21            3    SEA  MSP          1516        NaN
8443       9            30            5    MSP  ATL          1010        NaN
9250      10            31            1    JFK  MSP           810        NaN
9807      11            18            5    SEA  MSP          1133        NaN
9836      11            18            5    DTW  MSP          1555        NaN
10181     11            30            3    MSP  ATL          1114        NaN
10557     12             8            4    ATL  DTW           900        NaN
10618     12            11            7    MSP  DTW          1155        NaN
10619     12            11            7    DTW  SEA          1545        NaN
10625     12            12            1    SEA  DTW           935        NaN
10746     12            16            5    JFK  MSP          1600        NaN
10756     12            17            6    JFK  ATL          1925        NaN
10785     12            18            7    ATL  JFK          1520        NaN
10786     12            18            7    JFK  ATL          1529        NaN

[188 rows x 7 columns]>

In [57]:
df=df.fillna({'ARR_DEL15':1}) # remplire les cases vides de APR_DEL15 par 1
df.iloc[175:185]  #afficher les lignes entre 175 et 185

     MONTH  DAY_OF_MONTH  DAY_OF_WEEK ORIGIN DEST  CRS_DEP_TIME  ARR_DEL15
175      1             9            6    DTW  ATL          1205        1.0
176      1             9            6    JFK  DTW          1845        0.0
177      1             9            6    MSP  SEA           701        1.0
178      1             9            6    DTW  JFK          1527        0.0
179      1            10            7    MSP  DTW          1348        1.0
180      1            10            7    DTW  MSP          1540        0.0
181      1            10            7    JFK  ATL          1325        0.0
182      1            10            7    JFK  ATL           610        0.0
183      1            10            7    JFK  SEA          1615        0.0
184      1            10            7    MSP  DTW           625        1.0

# Préparer les données pour le modèle ML

In [58]:
import math
#normaliser les données
for index, row in df.iterrows():
    df.loc[index, 'CRS_DEP_TIME'] = math.floor(row['CRS_DEP_TIME'] / 100) #diviser et arrondire pour affiner l'intervalle
df.head()

   MONTH  DAY_OF_MONTH  DAY_OF_WEEK ORIGIN DEST  CRS_DEP_TIME  ARR_DEL15
0      1             1            5    ATL  SEA            19        0.0
1      1             1            5    DTW  MSP            13        0.0
2      1             1            5    ATL  SEA             9        0.0
3      1             1            5    SEA  MSP             8        0.0
4      1             1            5    SEA  DTW            23        0.0

In [59]:
df=pd.get_dummies(df, columns=['ORIGIN','DEST'])  #subdiviser les colonnes ORIGIN et DEST 
df.head

<bound method NDFrame.head of        MONTH  DAY_OF_MONTH  DAY_OF_WEEK  CRS_DEP_TIME  ARR_DEL15  ORIGIN_ATL  \
0          1             1            5            19        0.0           1
1          1             1            5            13        0.0           0
2          1             1            5             9        0.0           1
3          1             1            5             8        0.0           0
4          1             1            5            23        0.0           0
5          1             1            5            11        0.0           0
6          1             2            6            17        0.0           1
7          1             2            6            17        0.0           0
8          1             2            6            11        0.0           0
9          1             2            6            14        0.0           0
10         1             2            6             8        0.0           1
11         1             2            6            13        0.0           1
12         1             2            6             7        0.0           1
13         1             2            6             8        0.0           0
14         1             2            6            16        0.0           0
15         1             3            7            13        0.0           0
16         1             3            7            13        0.0           0
17         1             2            6            17        0.0           0
18         1             2            6             7        0.0           0
19         1             2            6             7        0.0           1
20         1             2            6             8        0.0           1
21         1             3            7            14        0.0           1
22         1             3            7             8        0.0           0
23         1             3            7            15        0.0           0
24         1             3            7            13        0.0           1
25         1             3            7             7        0.0           0
26         1             3            7            14        0.0           0
27         1             3            7            20        0.0           0
28         1             3            7             6        0.0           0
29         1             3            7            23        0.0           0
...      ...           ...          ...           ...        ...         ...
11201     12             9            5             7        0.0           1
11202     12             9            5            17        0.0           0
11203     12             9            5            11        1.0           0
11204     12            15            4            12        0.0           0
11205     12            15            4            19        1.0           1
11206     12            15            4            16        0.0           1
11207     12            16            5            19        1.0           1
11208     12            16            5            10        0.0           0
11209     12            16            5            15        1.0           0
11210     12            16            5            16        0.0           1
11211     12            16            5            20        1.0           0
11212     12            16            5             7        0.0           0
11213     12            16            5            16        0.0           0
11214     12            16            5             7        0.0           0
11215     12            28            3             0        0.0           0
11216     12            28            3             6        0.0           0
11217     12            28            3             9        0.0           1
11218     12            28            3            16        1.0           0
11219     12            29            4             8        0.0           0
11220     12            29            4            13        0.0           0
11221     12            29            4            13        0.0           0
11222     12            29            4            14        0.0           0
11223     12            30            5            13        0.0           0
11224     12            30            5            13        1.0           0
11225     12            30            5            17        0.0           0
11226     12            30            5            10        0.0           0
11227     12            30            5            15        0.0           0
11228     12            30            5            19        0.0           0
11229     12            30            5            15        0.0           1
11230     12            30            5             7        0.0           1

       ORIGIN_DTW  ORIGIN_JFK  ORIGIN_MSP  ORIGIN_SEA  DEST_ATL  DEST_DTW  \
0               0           0           0           0         0         0
1               1           0           0           0         0         0
2               0           0           0           0         0         0
3               0           0           0           1         0         0
4               0           0           0           1         0         1
5               0           0           1           0         1         0
6               0           0           0           0         0         0
7               0           0           1           0         0         0
8               0           0           1           0         0         0
9               0           0           1           0         1         0
10              0           0           0           0         0         0
11              0           0           0           0         0         0
12              0           0           0           0         0         0
13              1           0           0           0         0         0
14              1           0           0           0         1         0
15              0           0           1           0         0         1
16              0           1           0           0         1         0
17              1           0           0           0         0         0
18              0           0           0           1         0         0
19              0           0           0           0         0         1
20              0           0           0           0         0         0
21              0           0           0           0         0         1
22              0           0           1           0         0         1
23              0           0           1           0         1         0
24              0           0           0           0         0         1
25              0           0           0           1         1         0
26              0           0           1           0         0         0
27              1           0           0           0         1         0
28              0           0           1           0         1         0
29              0           0           0           1         1         0
...           ...         ...         ...         ...       ...       ...
11201           0           0           0           0         0         1
11202           1           0           0           0         1         0
11203           0           0           1           0         0         0
11204           0           0           0           1         1         0
11205           0           0           0           0         0         0
11206           0           0           0           0         0         1
11207           0           0           0           0         0         0
11208           0           0           1           0         0         1
11209           0           0           1           0         1         0
11210           0           0           0           0         0         0
11211           0           0           1           0         0         1
11212           0           0           0           1         0         0
11213           1           0           0           0         1         0
11214           0           0           1           0         1         0
11215           0           0           0           1         0         0
11216           0           0           1           0         1         0
11217           0           0           0           0         0         1
11218           0           1           0           0         0         0
11219           1           0           0           0         0         0
11220           0           0           1           0         0         1
11221           0           0           1           0         1         0
11222           0           0           0           1         1         0
11223           0           0           0           1         0         0
11224           1           0           0           0         0         0
11225           0           0           1           0         1         0
11226           1           0           0           0         1         0
11227           0           0           0           1         0         0
11228           1           0           0           0         0         0
11229           0           0           0           0         0         0
11230           0           0           0           0         0         1

       DEST_JFK  DEST_MSP  DEST_SEA
0             0         0         1
1             0         1         0
2             0         0         1
3             0         1         0
4             0         0         0
5             0         0         0
6             0         1         0
7             0         0         1
8             0         0         1
9             0         0         0
10            1         0         0
11            0         0         1
12            0         1         0
13            0         0         1
14            0         0         0
15            0         0         0
16            0         0         0
17            0         0         1
18            1         0         0
19            0         0         0
20            0         0         1
21            0         0         0
22            0         0         0
23            0         0         0
24            0         0         0
25            0         0         0
26            0         0         1
27            0         0         0
28            0         0         0
29            0         0         0
...         ...       ...       ...
11201         0         0         0
11202         0         0         0
11203         0         0         1
11204         0         0         0
11205         0         0         1
11206         0         0         0
11207         0         1         0
11208         0         0         0
11209         0         0         0
11210         0         0         1
11211         0         0         0
11212         1         0         0
11213         0         0         0
11214         0         0         0
11215         0         1         0
11216         0         0         0
11217         0         0         0
11218         0         1         0
11219         0         0         1
11220         0         0         0
11221         0         0         0
11222         0         0         0
11223         1         0         0
11224         0         1         0
11225         0         0         0
11226         0         0         0
11227         0         1         0
11228         0         0         1
11229         0         0         1
11230         0         0         0

[11231 rows x 15 columns]>